{:kotoba.app/id "cloud.itonami.isic-7500", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreieyznvjjikisejyemjtdos2ybyqs4ttvdmozkirgs2aplpxva2hxm", :kotoba.app/embed-url "ipfs://bafkreieyznvjjikisejyemjtdos2ybyqs4ttvdmozkirgs2aplpxva2hxm", :published {:archive "https://kotobase.net/ipfs/bafkreieyznvjjikisejyemjtdos2ybyqs4ttvdmozkirgs2aplpxva2hxm", :size 72688, :put-status 201, :get-status 200, :at "2026-08-15T13:56:15.532Z"}}
